###############################################################
#                   Authelia configuration                    #
###############################################################
## The theme to display: light, dark, grey, auto.
theme: auto

default_redirection_url: "https://{{project_tld}}"


##
## Server Configuration
##
server:

  ## The address to listen on.
  host: 0.0.0.0

  ## The port to listen on.
  port: 9091

  ## Set the single level path Authelia listens on.
  ## Must be alphanumeric chars and should not contain any slashes.
  path: ""

  ## Set the path on disk to Authelia assets.
  ## Useful to allow overriding of specific static assets.
  # asset_path: /config/assets/

  ## Buffers usually should be configured to be the same value.
  ## Explanation at https://www.authelia.com/docs/configuration/server.html
  ## Read buffer size adjusts the server's max incoming request size in bytes.
  ## Write buffer size does the same for outgoing responses.
  read_buffer_size: 8192
  write_buffer_size: 8192

log:
  level: info
  file_path: /config/authelia.log


# Time-based One-Time Password
totp:
  issuer: "{{domain_tld}}"
  period: 30
  skew: 1

authentication_backend:
## Disable both the HTML element and the API for reset password functionality.
  disable_reset_password: true

  ## The amount of time to wait before we refresh data from the authentication backend. Uses duration notation.
  ## To disable this feature set it to 'disable', this will slightly reduce security because for Authelia, users will
  ## always belong to groups they belonged to at the time of login even if they have been removed from them in LDAP.
  ## To force update on every request you can set this to '0' or 'always', this will increase processor demand.
  ## See the below documentation for more information.
  ## Duration Notation docs:  https://www.authelia.com/docs/configuration/index.html#duration-notation-format
  ## Refresh Interval docs: https://www.authelia.com/docs/configuration/authentication/ldap.html#refresh-interval
  refresh_interval: 5m

  # file:
  #   path: /config/users_database.yml
  ldap:
    url: "ldap://{{ldap_server_ip}}"
    base_dn: {{base_dn}}
    username_attribute: uid
    start_tls: false
    tls:
      skip_verify: false
    additional_users_dn: cn=users
    users_filter: (&({username_attribute}={input})(objectclass=person))
    groups_filter: (&(objectclass=posixGroup))
    group_name_attribute: cn
    user: uid=root,cn=users,{{base_dn}}
    display_name_attribute: displayName

access_control:
  default_policy: deny
  rules:
    - domain: "login.{{domain_tld}}"
      policy: bypass
    - domain: 
        - "giovanni.{{domain_tld}}"
        - "file.{{domain_tld}}"
        - "share.{{domain_tld}}"
        - "cinema.{{domain_tld}}"
      policy: bypass
    - domain:
      - "*.{{project_tld}}"
      networks:
        - 192.168.0.0/16
      policy: bypass
    - domain: "vault.{{domain_tld}}"
      policy: bypass
    - domain:
      - "cinema.{{domain_tld}}"
      - "vault.{{domain_tld}}"
      networks:
        - 192.168.0.0/16
      policy: bypass
    - domain: vault.liboni.me
      resources:
        - "^/admin/.*$"
      subject: "group:admins"
      policy: one_factor
    - domain:
        - "*.{{project_tld}}"
      policy: one_factor

session:
  name: authelia_liboni_me
  expiration: 48h # 1 hour
  inactivity: 12h # 5 minutes
  remember_me_duration:  1M
  domain: liboni.me # Should match whatever your root protected domain is
  redis:
    host: redis
    port: 6379

regulation:
  max_retries: 5
  find_time: 3m
  ban_time: 1M

storage:
  encryption_key: {{authelia_encryption_key}}
  # local:
  #   path: /config/db.sqlite3
  mysql:
    host: mariadb
    port: 3306
    database: authelia
    username: {{authelia_db_username}}
    # Password can also be set using the env variables AUTHELIA_STORAGE_MYSQL_PASSWORD_FILE
    # password: PASSWORD_GOES_HERE # use docker secret file instead AUTHELIA_STORAGE_MYSQL_PASSWORD_FILE

notifier:
  # filesystem:
  #   filename: /config/notification.txt
  smtp:
    username: {{smtp_user}}
    host: {{smtp_server}}
    sender: {{smtp_sender}}
    port: 587