# path_f2b/jail.d/bitwarden_rs-admin.local

[bitwarden_rs-admin]
enabled = true
port = 80,443
filter = bitwarden_rs-admin
action = iptables-allports[name=bitwarden_rs-admin, chain=FORWARD]
logpath = {{bitwarden_log_file}}
maxretry = 3
bantime = 1d
findtime = 1d